* {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'adobe clean';
    margin: 0;
}

.header {
    position: absolute;
    margin-top: -898px;
    max-width: fit-content;
}


.hero {
    position: relative;
}

.hero > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    height: 100vh;
    max-width: 500px;
    padding: 0 0 48px 0;
}

.hero h1, h2 {
    z-index: 2;
    position: relative;
    background: #FFF;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
}

.hero picture {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.heading {
    background-color: #fff;
    margin-top: -475px;
    height: 130px;
    float: middle;
    position: absolute;
    padding-left: 180px;
    padding-right: 28px;
    display: flex;
    flex-wrap: wrap;
    
}

.body {
    background-color: #fff;
    margin-top: -300px;
    height: 130px;
    float: middle;
    position: absolute;
    padding-left: 180px;
    padding-right: 180px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.75;
}

.body h2 {
    z-index: 2;
    position: relative;
    background: #FFF;
    padding: 6px 0px;
    margin: 0;
    flex: 1 1 auto;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
